<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
 <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<script>
    function test(name){
        alert('drop down change detected');
    }

    function toggleDisplay(){
        var x = document.getElementsByClassName("slot-drawer");
        x[0].style.display === 'none';
        var i;
        if (x[0].style.display === 'none'){
            for(i=0; i<x.length; i++){
                x[i].style.display = 'block';
            } 
        } else {
            for(i=0; i<x.length; i++){
                x[i].style.display = 'none';
            }
        }
    }

    function displayIntegerButtons(){
        var x = document.getElementsByClassName("main-buttons");
        var y = document.getElementsByClassName("integer-buttons");
        var z = document.getElementsByClassName("alpha-buttons");
        x[0].style.display = 'none';
        y[0].style.display = 'block';
        z[0].style.display = 'block';
    }

     function displayMainButtons(){
        var x = document.getElementsByClassName("main-buttons");
        var y = document.getElementsByClassName("integer-buttons");
        var z = document.getElementsByClassName("alpha-buttons");
        x[0].style.display = 'block';
        y[0].style.display = 'none';
        z[0].style.display = 'none';
    }

     function displayAlphaButtons(){
        var x = document.getElementsByClassName("main-buttons");
        var y = document.getElementsByClassName("integer-buttons");
        var z = document.getElementsByClassName("alpha-buttons");
        x[0].style.display = 'none';
        y[0].style.display = 'block';
        z[0].style.display = 'block';
    }

    function toggleMenu(x) {
        x.classList.toggle("change");
        var y = document.getElementsByClassName("navbar");
        var i;
        if (y[0].style.display === 'none' || y[0].style.display === ''){
            y[0].style.display = 'block'; 
        } else {
            y[0].style.display = 'none';
        }
    }

    
</script>

    <title>{% block title %}{% endblock %} Controller App</title>
    {% endblock %}
</head>
<body>
    <div class='main-container'>
        <div class="hamburger-container" onclick="toggleMenu(this)">
            <div class="bar1"></div>
            <div class="bar2"></div>
            <div class="bar3"></div>
        </div>
        <div class='container-fluid '>
            <div class='row no-gutters navbar'>
                <div class='col-sm-1'>
                    <h1 class='text-muted'>APP</h1>
                </div>
                <div class='col-sm-1'>
                    <h3><a href='/testcases'>Automation</a></h3>
                </div>
                <div class='col-sm-1'>
                    <h3><a href='/sampleApp'>Sample App</a></h3>
                </div>
                <div class='col-sm-1'>
                    <h3><a href='/sampleApp2'>Sample App 2</a></h3>
                </div>
                <div class='col-sm-1'>
                    <h3><a href='/shef'>Shef</a></h3>
                </div>
                <div class='col-sm-1'>
                    <h3><a href='/setVideo'>Video Configs</h3>
                </div>
                <div class='col-sm-1'>
                    <h3><a href="/">Home</a></h3>
                </div>
                <!-- <div class='col-sm-3'>
                    <h3>{{ tme }}</h3>
                </div> -->
            </div>
        </div>
        <hr>
        <div class='row'>
            <div id="content" align='center'>{% block content %}{% endblock %}</div>
        </div>
        <hr>
        <div id="footer" class="text-muted">
            {% block footer %}
            &copy; Jerome Ronquillo
            {% endblock %}
        </div>
    </div>
</body>
</html>