{% extends 'base.html' %}
{% block content %}
<div class = 'transparency_test_container'>
    <p class="main-title-cta"><a class='main-title-cta-text' href="/celeste">CTRL</a></p>
    
    <div class= "transparency_test" onclick="location.href='/celeste/'">
    	<div>
    		<span class="transparency_test_text">Celeste</span>
  		</div>
  		<div>
  			<span class="transparency_test_subtext"> ...Click to Start </span>
    	</div>
    </div>
    
    	
    <!-- <image class="transparency_test" src="/static/coffee_test.png" alt="transparency_test"> -->


</div>
{% endblock %}