{% extends 'base.html' %}
{% block content %}
<div class = 'pane'>
	<div class = 'flash'>
              {% with messages = get_flashed_messages() %}
      {% if messages %}

        <ul>
        {% for message in messages %}
            <li> <strong> {{ message }} </strong> </li>
        {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}

	</div>
    <div class="error">
        <h1 style="color:red;">{{error}}</h1>
    </div>
    {{tme}}
    <table class="table">
    {% if data != [] %}
        {% for dat in data %}
            <tr>
                <td>{{dat.id}}</td>
                <td>{{dat.data}}</td>
                <td>{{dat.created_date}}</td>
                <td>{{dat.created_time}}</td>
                <td>{{dat.formatted_date}}</td>
                <td>{{dat.green}}</td>
                <td></td>
            </tr>
        {% endfor %}
    {% else %}
        <p> No Data </p>
    {% endif %}
    </table>
    <hr>
    <div id="failure_screenshot_display">
        <h2> Screenshot after Failure</h2>
        <img src="/static/images/failure-screenshot.png?{{tme}}" class="img-responsive"/>
    </div>


</div>
{% endblock %}