<!DOCTYPE html>
<html>
<head>
	<title>Sample App</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<style>
		.container {
			position: fixed;
			top:0px;
			left:0px;
			background-color: black;
			opacity: 0.8;
			width: 100%;
			height: 100%;
			text-align: center;
		}
		.main-title, #key-down {
			top: 90%;
			color:white;
			font-size:72px;
			vertical-align: middle;
			line-height: 90px;
			
		}
		#button1{
			background-color: red;
			width: 100px;
			height: 50px;
			border-radius: 10px;
			color: white;
		}
		h2{
			margin-top:20%;
		}
	</style>
	<script type="text/javascript">

		//If we are a stb, set the resolution
		if (!!navigator.setResolution) {
		  navigator.setResolution(1920, 1080);
		}

		function keyHandler(e){
			var code = e.keyCode
				, container = document.getElementById('key-down');

			//Don't for get to put a BREAK after every case OR it will
			//Fall through like it does below.
			switch(code){
        case 13: // Select / Enter
        case 48 : // 0
        case 49 : // 1
        case 50 : // 2
        case 51 : // 3
        case 52 : // 4
        case 53 : // 5
        case 54 : // 6
        case 55 : // 7
        case 56 : // 8
        case 57 : // 9
        case 79 : // Info
        case 87 : // Rewind Trick play
        case 9 : // FF Trick play
        case 65 : //Active
        case 67 : // Next Trick play
        case 72 : // red
        case 74 : // green
        case 75 : // yellow
        case 76 : // blue
        case 80: // Play Trick play
        case 82 : // Record Trick play
        case 83 : // Stop Trick play
        case 85 : // Pause Trick play
        case 46 : // Back Trick play
        case 37: //left
        case 33: //pageup channelUp
        case 34: //pagedown channelDown
        case 38: //up
        case 39: //right
        case 40: //down
        case 47: //back
        case 189 : //dash
        default :
        	container.innerHTML = code;
        	break;
      }

			// return false prevents keys from bubbling to UI
			return false;
	  }

		window.onkeydown = keyHandler;

		window.onerror = function(errorMsg, url, lineNumber){
		   // If Webkit throws an error on the STB - the app crashes.
		   // To prevent the propagation and therefore the crash
		   // return true

		   // Look for this console.log message in the logs
		   // To access the logs use http://{STB_IP}/itv/getLogs
		   console.log(errorMsg);
		   return true;
		 };

		 document.getElementById('myiframe').contentWindow.onerror = function(){
		 	// perform error reporting or take corrective action
		 	return false;
		 };

		 function exiter(){
		 	navigator.exit();
		 };
	</script>
</head>
<body>
	<div class="container">
		<h2 style='color:white'>SampleApp </h2>
		<p style='color:white'>Lorem ipsum Lorem Ipsum</p>
		<h1 class="main-title">Lorem:</h1>
		<div id="key-down"></div>
		<div id='myiframe'>
		</div>
		<button id="button1" type="button" class="btn btn-outline-primary">Lorem</button>
		<button id="exit" type="button" class="btn btn-outline-primary" onclick="exiter()">exit</button>
	</div>
	<script type="text/javascript" src="app.js"></script>
</body>
</html>
