{% extends 'base.html' %}
{% block content %}
<div class="row">
	<h1>Video Configs</h1>

	<form action="#" method = 'post' class="create-button">
		<input type='hidden' name="multiviewerProfile" value="defaultConf">
		<input type='submit' value='default' class="create-button">
	</form>

	<form action="#" method = 'post' class="create-button">
		<input type='hidden' name="multiviewerProfile" value="allserversConf">
		<input type='submit' value='all servers' class="create-button">
	</form>

	<form action="#" method = 'post' class="create-button">
		<input type='hidden' name="multiviewerProfile" value="allclientsConf">
		<input type='submit' value='all clients' class="create-button">
	</form>

	<form action="#" method = 'post' class="create-button">
		<input type='hidden' name="multiviewerProfile" value="quadConf">
		<input type='submit' value='quad conf' class="create-button">
	</form>
	<hr>
		<form action="#" method = 'post' class="create-button">
			<input type='hidden' name="multiviewerProfile" value="solo">
			<input type='submit' value='solo on' class="create-button">
		</form>
		<form action="#" method = 'post' class="create-button">
			<input type='hidden' name="multiviewerProfile" value="nosolo">
			<input type='submit' value='solo off' class="create-button">
		</form>
</div>
<div class = "row">
	<table class="table">
		<tr>	
			<td>
				<form action="#" method = 'post' class="create-button">
					<input type='hidden' name="soloConfig" value="0">
					<input type='submit' value='solo 1' class="create-button">
				</form>
			</td>
			<td>
				<form action="#" method = 'post' class="create-button">
					<input type='hidden' name="soloConfig" value="4">
					<input type='submit' value='solo 5' class="create-button">
				</form> 
			</td>
			<td>
				<form action="#" method = 'post' class="create-button">
					<input type='hidden' name="soloConfig" value="8">
					<input type='submit' value='solo 9' class="create-button">
				</form>
			</td>
			<td> 
				<form action="#" method = 'post' class="create-button">
					<input type='hidden' name="soloConfig" value="12">
					<input type='submit' value='solo 13' class="create-button">
				</form> 
			</td>	
		</tr>
		<tr>	
			<td>
				<form action="#" method = 'post' class="create-button">
					<input type='hidden' name="soloConfig" value="1">
					<input type='submit' value='solo 2' class="create-button">
				</form>
			</td>
			<td>
				<form action="#" method = 'post' class="create-button">
					<input type='hidden' name="soloConfig" value="5">
					<input type='submit' value='solo 6' class="create-button">
				</form> 
			</td>
			<td>
				<form action="#" method = 'post' class="create-button">
					<input type='hidden' name="soloConfig" value="9">
					<input type='submit' value='solo 10' class="create-button">
				</form>
			</td>
			<td> 
				<form action="#" method = 'post' class="create-button">
					<input type='hidden' name="soloConfig" value="13">
					<input type='submit' value='solo 14' class="create-button">
				</form> 
			</td>	
		</tr>
		<tr>	
			<td>
				<form action="#" method = 'post' class="create-button">
					<input type='hidden' name="soloConfig" value="2">
					<input type='submit' value='solo 3' class="create-button">
				</form>
			</td>
			<td>
				<form action="#" method = 'post' class="create-button">
					<input type='hidden' name="soloConfig" value="6">
					<input type='submit' value='solo 7' class="create-button">
				</form> 
			</td>
			<td>
				<form action="#" method = 'post' class="create-button">
					<input type='hidden' name="soloConfig" value="10">
					<input type='submit' value='solo 11' class="create-button">
				</form>
			</td>
			<td> 
				<form action="#" method = 'post' class="create-button">
					<input type='hidden' name="soloConfig" value="14">
					<input type='submit' value='solo 15' class="create-button">
				</form> 
			</td>	
		</tr>
		<tr>	
			<td>
				<form action="#" method = 'post' class="create-button">
					<input type='hidden' name="soloConfig" value="3">
					<input type='submit' value='solo 4' class="create-button">
				</form>
			</td>
			<td>
				<form action="#" method = 'post' class="create-button">
					<input type='hidden' name="soloConfig" value="7">
					<input type='submit' value='solo 8' class="create-button">
				</form> 
			</td>
			<td>
				<form action="#" method = 'post' class="create-button">
					<input type='hidden' name="soloConfig" value="11">
					<input type='submit' value='solo 12' class="create-button">
				</form>
			</td>
			<td> 
				<form action="#" method = 'post' class="create-button">
					<input type='hidden' name="soloConfig" value="15">
					<input type='submit' value='solo 16' class="create-button">
				</form> 
			</td>	
		</tr>
	</table>
</div>



{% endblock %}