{% extends 'base.html' %}
{% block content %}
<div class = 'pane'>
	<div class = 'flash'>
              {% with messages = get_flashed_messages() %}
      {% if messages %}

        <ul>
        {% for message in messages %}
            <li> <strong> {{ message }} </strong> </li>
        {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}

	</div>
    <div class="error">
        <h1 style="color:red;">{{error}}</h1>
    </div>

    <a href="{{url_for('newStep', testcase_id=testcase_id)}}">Add Steps</a>


    {% if items != [] %}
        {% for item in items %}
            <div class="row">
                {{item.id}}
                {{item.step}}
                {{item.testcase_id}}
            </div>
        {% endfor %}
    {% else %}
        <p> No Data <p>
    {% endif %}

    <div class="test">

        <form action="#" method = 'post'>


        <p>Name:</p>
            <input type='hidden' value='keypress(rack,&quot;menu&quot;,slot)' name='keypress'>
        <div class="row">
            <input type='submit' value='menu' class='create-button'>
        </div>
        </form>

        <form action="#" method = 'post'>
            <input type='hidden' value='stbt.wait_for_match(image_name)' name='keypress'>
        <div class="row">
            <input type='submit' value='wait_for_match' class='create-button'>
        </div>
        </form>
    </div>







</div>
{% endblock %}